<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<h1>Find a Car</h1>

<!--script type="text/html" id="folder_template">
    <li data-bind="attr: {id: $data['id']">
        <div class="container">
            <div>
                <strong> <span data-bind="text: $data['name']" class="oj-navigationlist-item-title"></span> </strong>
            </div>
        </div>
    </li>
</script>

<div id="navlistdemo">
    <div style="max-width:300px">
        <div data-bind="ojComponent:{
                            component:'ojNavigationList',
                            drillMode: 'sliding',
                            selection: selectedListItem,
                            data : dataSource,
                            item: { template: 'folder_template' }
                            }">
        </div>
    </div>
    <br>
    <div>
        <p class="bold">Selected Car:
            <span id="results" data-bind='text: selectedListItem'></span>
        </p>
    </div>
</div-->
